Repository samdporter/SIRF-SIMIND-Connection: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-quick, check-examples, validate-imports

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks configuration for SIRF-SIMIND-Connection
# 
# To install: pip install pre-commit && pre-commit install
# To run manually: pre-commit run --all-files

repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-added-large-files
        args: ['--maxkb=10000']  # 10MB limit
      - id: mixed-line-ending
      - id: requirements-txt-fixer

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3
        args: ['--line-length=88']

  # Import sorting
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length=88']

  # Linting
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=88', '--extend-ignore=E203,W503']

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ['-r', 'sirf_simind_connection']
        exclude: tests/

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
        additional_dependencies: [types-PyYAML, types-requests]
        args: ['--ignore-missing-imports']

  # Documentation
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        match: '^sirf_simind_connection/.*\.py$'
        args: ['--convention=numpy']

  # Jupyter notebooks (if any)
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-black
        additional_dependencies: [black]
      - id: nbqa-flake8
        additional_dependencies: [flake8]

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        types: [yaml]

  # Custom hooks for this project
  - repo: local
    hooks:
      # Run quick tests
      - id: pytest-quick
        name: pytest-quick
        entry: pytest
        args: ['-v', '-m', 'not slow and not requires_simind', '--tb=short']
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

      # Check example scripts syntax
      - id: check-examples
        name: check-examples
        entry: python
        args: ['-m', 'py_compile']
        language: system
        files: '^examples/.*\.py$'

      # Validate package imports
      - id: validate-imports
        name: validate-imports
        entry: python
        args: ['-c', 'import sirf_simind_connection; print("âœ“ Package imports successfully")']
        language: system
        types: [python]
        pass_filenames: false
        stages: [push]

Some work towards getting docker working properly - not complete
  Dockerfile.sirf-simind
  Dockerfile.test-without-simind
  Makefile
  docker-compose.yaml
  docker-compose.yml
  docker/docker.md
  docker/install_simind.sh
  make.bat
Due: none

fix bug in non-circular orbits read_orbit_file (.cor)
  sirf_simind_connection/core/simulator.py
Due: pytest-quick, validate-imports

Update README.md
  README.md
Due: none

add project scripts and configs
  project/config/anthro.yaml
  project/config/cyl.yaml
  project/config/local.yaml
  project/config/nema.yaml
  project/config/patient.yaml
  project/config/test.yaml
  project/scripts/osem.py
  project/scripts/run_all_patients.sh
  project/scripts/run_osem.sh
  project/scripts/run_pipeline.sh
  project/scripts/run_pipeline_local.sh
  project/scripts/run_simulation_array.sh
  project/scripts/run_sum_scatter.sh
  project/scripts/sum_scatter.py
  scripts/simulation.py
Due: pytest-quick, validate-imports

UPDATE config for AnyScan
  sirf_simind_connection/configs/AnyScan.yaml
Due: none

FIX bugs in scatter simulation routine!
  project/config/local.yaml
  project/scripts/run_osem.sh
  project/scripts/run_pipeline.sh
  project/scripts/run_pipeline_local.sh
  project/scripts/run_simulation_array.sh
  project/scripts/run_sum_scatter.sh
  sirf_simind_connection/configs/AnyScan.yaml
Due: none

ADD capability for dual simulation for septal penetration etc. effects
  project/config/anthro.yaml
  project/config/cyl.yaml
  project/config/local.yaml
  project/config/nema.yaml
  project/config/patient.yaml
  project/config/test.yaml
  project/scripts/run_simulation_array.sh
  scripts/simulation.py
Due: pytest-quick, validate-imports

ADD functionality to create simulation from YAML
  sirf_simind_connection/configs/AnyScan.yaml
  sirf_simind_connection/core/config.py
  sirf_simind_connection/core/simulator.py
Due: pytest-quick, validate-imports

REFACTORING and BUG FIXING simulator and config
  sirf_simind_connection/__init__.py
  sirf_simind_connection/builders/acquisition_builder.py
  sirf_simind_connection/configs/AnyScan.yaml
  sirf_simind_connection/converters/dicom_to_stir.py
  sirf_simind_connection/converters/simind_to_stir.py
  sirf_simind_connection/core/components.py
  sirf_simind_connection/core/simulator.py
Due: pytest-quick, validate-imports

update example simulation to work with new config
  scripts/simulation.py
Due: pytest-quick, validate-imports

ADD penetration scoring routine functionality
  scripts/simulation.py
  sirf_simind_connection/converters/simind_to_stir.py
  sirf_simind_connection/core/__init__.py
  sirf_simind_connection/core/components.py
  sirf_simind_connection/core/simulator.py
Due: pytest-quick, validate-imports

UPDATE script to improve printouts
  scripts/simulation.py
  sirf_simind_connection/configs/AnyScan.yaml
Due: pytest-quick, validate-imports

UPDATE examples to work with new syntax. ADD penetrate vs scattwin example
  examples/01_basic_simulation.py
  examples/02_dicom_conversion.py
  examples/03_multi_window.py
  examples/04_custom_config.py
  examples/05_scattwin_vs_penetrate_comparison.py
  scripts/run_all_Examples.py
Due: pytest-quick, check-examples, validate-imports

added psf config and configs for single simulation
  project/config/psf.yaml
  project/single_run_config/nema.yaml
  project/single_run_config/psf.yaml
Due: none

UPDATE README
  README.md
Due: none

UPDATE precommits and run@
  .pre-commit-config.yaml
  examples/01_basic_simulation.py
  examples/02_dicom_conversion.py
  examples/03_multi_window.py
  examples/04_custom_config.py
  examples/05_scattwin_vs_penetrate_comparison.py
  pyproject.toml
  scripts/run_all_Examples.py
  scripts/simulation.py
  sirf_simind_connection/__init__.py
  sirf_simind_connection/builders/acquisition_builder.py
  sirf_simind_connection/converters/dicom_to_stir.py
  sirf_simind_connection/converters/simind_to_stir.py
  sirf_simind_connection/core/__init__.py
  sirf_simind_connection/core/components.py
  sirf_simind_connection/core/config.py
  sirf_simind_connection/core/simulator.py
Due: pytest-quick, check-examples, validate-imports

ADD test suite
  scripts/run_all_examples.py
  sirf_simind_connection/__init__.py
  tests/__init__.py
  tests/conftest.py
  tests/test_components.py
  tests/test_integration.py
  tests/test_simind_projector.py
  tests/test_simind_simulator.py
  tests/test_simulation_config.py
  tests/test_utils.py
Due: pytest-quick, validate-imports

UPDATE documentation
  CONTRIBUTING.md
  README.md
  docs/CONTRIBUTING.md
  docs/api.rst
  docs/changelog.rst
  docs/conf.py
  docs/contributing.rst
  docs/examples.rst
  docs/index.rst
  docs/installation.rst
  docs/intro.rst
  docs/testing.rst
  docs/usage.rst
  pyproject.toml
Due: pytest-quick, validate-imports

ADD PyPI release files
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  README.md
  pyproject.toml
Due: none

UPDATE version number & changelog
  docs/changelog.rst
  pyproject.toml
Due: none

RUN pre-commit hook
  tests/conftest.py
  tests/test_components.py
  tests/test_integration.py
  tests/test_simind_projector.py
  tests/test_simind_simulator.py
  tests/test_simulation_config.py
  tests/test_utils.py
Due: pytest-quick, validate-imports

Fix all linting and formatting issues
  examples/01_basic_simulation.py
  examples/03_multi_window.py
  examples/05_scattwin_vs_penetrate_comparison.py
  scripts/simulation.py
  sirf_simind_connection/builders/acquisition_builder.py
  sirf_simind_connection/converters/attenuation.py
  sirf_simind_connection/converters/simind_to_stir.py
  sirf_simind_connection/core/config.py
  sirf_simind_connection/core/projector.py
  sirf_simind_connection/core/simulator.py
  tests/test_simulation_config.py
Due: pytest-quick, check-examples, validate-imports

Format code with black 25.1.0
  sirf_simind_connection/builders/acquisition_builder.py
Due: pytest-quick, validate-imports

RUN pre-commit hook
  sirf_simind_connection/core/projector.py
Due: pytest-quick, validate-imports

UPDATE precommits to prevent black and isort formatting fights
  .pre-commit-config.yaml
Due: none

UPDATE gitrhub workflows to fix formatting fighting
  .github/workflows/tests.yml
Due: none

ADD schneider density conversion plus example and tests
  README.md
  docs/api.rst
  docs/changelog.rst
  docs/examples.rst
  docs/usage.rst
  examples/06_schneider_density_conversion.py
  pyproject.toml
  scripts/run_all_examples.py
  sirf_simind_connection/converters/attenuation.py
  sirf_simind_connection/data/Schneider2000.json
  tests/test_schneider_density.py
Due: pytest-quick, check-examples, validate-imports

UPDATE version number & changelog
  .pre-commit-config.yaml
  docs/changelog.rst
  examples/01_basic_simulation.py
  examples/03_multi_window.py
  examples/05_scattwin_vs_penetrate_comparison.py
  pyproject.toml
  scripts/simulation.py
  sirf_simind_connection/converters/attenuation.py
  sirf_simind_connection/converters/simind_to_stir.py
  sirf_simind_connection/core/config.py
  sirf_simind_connection/core/projector.py
  sirf_simind_connection/core/simulator.py
  tests/conftest.py
  tests/test_components.py
  tests/test_integration.py
  tests/test_simind_projector.py
  tests/test_simind_simulator.py
  tests/test_simulation_config.py
  tests/test_utils.py
Due: pytest-quick, check-examples, validate-imports

FIX small bug in interpolation of schneider attenuation
  examples/06_schneider_density_conversion.py
  sirf_simind_connection/converters/attenuation.py
Due: pytest-quick, check-examples, validate-imports

SPLIT tests that require SIRF and SIMIND so can be run in github
  .github/workflows/tests.yml
  docs/testing.rst
  pytest-ci.ini
  pytest.ini
  tests/conftest.py
  tests/test_components.py
  tests/test_integration.py
  tests/test_simind_projector.py
  tests/test_simind_simulator.py
  tests/test_simulation_config.py
  tests/test_utils.py
Due: pytest-quick, validate-imports

FIX formatting issues
  sirf_simind_connection/converters/attenuation.py
  tests/conftest.py
  tests/test_components.py
  tests/test_integration.py
Due: pytest-quick, validate-imports

FIX CI import failures with lazy SIRF imports
  sirf_simind_connection/__init__.py
  sirf_simind_connection/builders/__init__.py
  sirf_simind_connection/core/components.py
  sirf_simind_connection/utils/__init__.py
  tests/conftest.py
Due: pytest-quick, validate-imports

FIX formatting
  sirf_simind_connection/__init__.py
  sirf_simind_connection/builders/__init__.py
  sirf_simind_connection/core/components.py
  sirf_simind_connection/utils/__init__.py
Due: pytest-quick, validate-imports

COMPLETE CI import fix with comprehensive lazy imports
  sirf_simind_connection/converters/__init__.py
  sirf_simind_connection/converters/simind_to_stir.py
  sirf_simind_connection/core/__init__.py
  sirf_simind_connection/core/projector.py
  sirf_simind_connection/core/simulator.py
  sirf_simind_connection/utils/stir_utils.py
Due: pytest-quick, validate-imports
